body {
    margin: 0;
}
.content{
    margin-top: 15%;
}

ul {
    list-style-type: none;
    background-color: #333;
    position: fixed;
    width: 100%;
    display: fixed;
    top: 0;
    margin: 0;
}

li {
    display: inline-block;
    /* float: left; */
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, 
.dropdown:hover,
.dropdown-content a:hover{
    background-color: #ccc;
}

li a.active {
    background-color: #04AA6D;
}

li.dropdown {
    display: inline-block;
}

.active{
    background-color: #04AA6D;
}


.dropdown-content{
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a{
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content{
    display: block;
}