#padre {
    border: 1px solid black;
    height: 300px;
    margin: 20px auto;
    position: relative;
    width: 60%;
}

#hijo {
    background-color: red;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
}

#info{
    border: 1px solid black;
    width: 150px;
    position: fixed;
}