.container {
    width: 400px;
    height: 295px;
    background: black;
}

.view {
    position: absolute;
    width: 200px;
    height: 100px;
    background: white;
    border-radius: 50%;
}

img {
    mix-blend-mode: darken;
}