.contact-form {
    --form-ok-color: #4caf50;
    --form-error-color: #4caf50;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.contact-form>* {
    padding: 0.5rem;
    margin: 1rem auto;
    display: block;
    width: 100%;
}

.contact-form textarea {
    resize: none;
}

.contact-form legend,
.contact-form-response {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.contact-form textarea,
.contact-form input {
    font-size: 1rem;
    font-family: sans-serif;
}

.contact-form input[type="submit"] {
    width: 50%;
    font-weight: bold;
    cursor: pointer;
}

.contact-form * placeholder {
    color: #000;
}

.contact-form [required]:valid {
    border: thin solid #0ce913;
}

.contact-form [required]:invalid {
    border: thin solid rgb(173, 17, 17);
}

.contact-form-error {
    margin-top: -1 rem;
    font-size: 80%;
    background-color: orangered;
    color: azure;
    transition: all 800ms ease;
}

.contact-form-error.is-active {
    display: block;
    animation: show-mensaje 1s 1 normal 0s ease-out both;
}

.none {
    display: none;
}

.icono {
    color: rgb(10, 91, 241);
    font-size: 25px;
    position: absolute;
    left: 95px;
    margin: -55px;
    width: 20px;
    cursor: help;
}

h1 {
    text-align: center;
    background: orange;
    height: 100px;
}

label{
    font-size: 23px;
}

.button:hover {
    background:darkslategrey;
    color: #fff;
}



@keyframes show-mensaje {
    0% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

@media screen and (max-width: 900px){
    .icono{
        left: 85px;
    }
}
@media screen and (max-width: 400px){
    .icono{
        left: 60px;
    }
}