#muestras img {
    width: 150px;
    margin: 10px 30px;
    cursor: pointer, hand;
}

#visor {
    text-align: center;
    float: right;
    margin: 0 20px
}

#pantalla {
    width: 500px;
    padding: 30px;
    border: 5px double green;
    background-color: #eed814;
}