@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

* {
    font-family: 'Comic Neue', cursive, serif;
    font-size: 15px;
}

body {
    background-image: linear-gradient(rgba(5, 10, 5, 0.80), rgba(90, 40, 90, 0.80)), url(../imagenes/s6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

/* Estilos para el menu */
nav {
    background-color: var(--dark);
    text-align: center;
    /* height: 100px; */
    margin-top: 10px;
}

nav ul {
    list-style: none;
    display: inline-block;
    padding: 18px;
}

nav ul li {
    float: left;
    margin-top: 20px;
}

nav ul li a {
    color: bisque;
    font-size: 40px;
    text-decoration: none;
    /* Quitamos la linea del enlace */
    padding: 18px;
}

nav ul li a:hover {
    background-color: #929fb3;
}

main {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr;
    gap: 0.5em;
    grid-template-areas:
        "z1 z2"
        "z1 z2"
        "z3 z3";
}

section {
    grid-area: z1;
    /* background-color: rgb(184, 37, 37); */
}

aside {
    grid-area: z2;
    /* background-color: rgb(35, 37, 104); */
}

#infor {
    grid-area: z3;
}

.text1{
    width: 45%;
    height: 100%;
    text-align: center;
    margin-left: 10px;
    float: left;
}

.text2 {
    width: 45%;
    height: 100%;
    float: right;
}

video {
    width: 800px;
    height: 450px;
    align-items: center;
    margin: 100px;
    margin-top: 5px;
}

audio {
    margin: 0 auto;
    display: block;
}

h1 {
    color: cornsilk;
    text-align: center;
    font-size: 120px;
    margin: 25px;
}

h2 {
    color: cornsilk;
    text-align: center;
    font-size: 100px;
}

p {
    color: ivory;
}

table {
    border-color: ivory;
    align-items: center;
    color: ivory;
    box-shadow: inset 10px 10px 20px 30px rgb(89, 89, 128);
}

th td tr {
    width: 100px;
}

.img {
    width: 200px;
    height: 200px;
    transition: transform .2s;
}

.img:hover {
    width: 300px;
    height: 300px;
    /* transition: 5ms; */
    transform: scale(1.25);
}

li {
    text-align: center;
    list-style: none;
    color: ivory;
    font-size: 20px;
}

footer {
    text-align: center;
    color: ivory;
    font-size: 25px;
}

@media screen and (min-width: 1280px) {
    body {
        background-size: 100%;
    }

    h1 {
        font-size: 80px;
    }

    table {
        margin-left: -80px;
    }

    .img {
        width: 150px;
        height: 150px;
        transition: transform .2s;
    }

    .img:hover {
        width: 200px;
        height: 200px;
        /* transition: 5ms; */
        transform: scale(1.25);
    }

    h2 {
        font-size: 50px;
    }

    video {
        width: 500px;
        height: 300px;
        margin-left: 56px;
        margin-top: 5px;
    }
}