@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Comic Neue', cursive, serif;
    font-size: 15px;
}

body {
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(5, 10, 5, 0.80), rgba(90, 40, 90, 0.80)), url(../imagenes/s8.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
main{
    position: relative;
}

h1{
    color: cornsilk;
    text-align: center;
    font-size: 100px;
    padding: 200px;
}

#boton{
    width: 200px;
    margin: auto;
    display: block;
    padding-top: 20px;
    text-align: center;
    margin-top: -90px;
    background-color: beige;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 25px 25px 25px 25px;
}
