* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.izquierda,
.derecha,
.principal {
    padding: 20px;
}

.izquierda {
    float: left;
    width: 20%;
    height: 200px;
    background: #999;
}

.principal {
    width: 60%;
    height: 200px;
    background-color: #ccc;
    float: left;
}

.derecha {
    float: left;
    width: 20%;
    height: 200px;
    background-color: #f00;
}

@media screen and (max-width: 1008px) {
    .principal {
        width: 80%;
        background-color: lightseagreen;
    }

    .derecha {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {

    .izquierda,
    .principal,
    .derecha {
        width: 100%;
    }

    .principal{
        background-color: lawngreen;
    }
}

