*{
    padding: 0;
    margin: 0;
}

main{
    width: 100%;
    background: lemonchiffon;
}

section{
    width: 60%;
    background: rgba(173, 216, 230, 0.5);
    float: left;
}

aside{
    width: 30%;
    background: rgba(255, 160, 122, 0.5);
    float: right;
}

footer{
    width: 100%;
    background: rgba(147, 112, 216, 0.5);
    clear: both;
}