*{
    padding: 0;
    margin: 0;
}
main{
    width: 750px;
    height: 750px;
}

header {
    width: 750px;
    height: 250px;
    background: lemonchiffon;
}

.logo{
    width: 250px;
    height: 125px;
    float: left;
    background: lightblue;
}

.direccion{
    width: 250px;
    height: 125px;
    float: left;
    /* clear: left; */
    background: lightcoral;
    clear: both;
    
}

section{
    background: lightgrey;
    width: 500px;
    height: 250px;
    padding: 0 125px;
}

.izquierda{
    background: aquamarine;
    width: 150px;
    height: 400px;
    float: left;
}

.derecha{
    background: aquamarine;
    width: 100px;
    height: 400px;
    float: right;
}

.centro{
    background: bisque;
    width: 500px;
    height: 400px;
    float: left;
}

footer{
    background: cadetblue;
    width: 750px;
    height: 50px;
    display: flex;
}