* {
    margin: 0;
    padding: 0;
}

header {
    width: 480px;
    margin: auto;
    font-family: sans-serif;
}

ul {
    list-style: none;
}

#menu a {
    background: darkgray;
    color: white;
    text-decoration: none;
}



#menu li a {
    min-width: 100px;
    padding: 10px;
    align-items: center;
    display: block;
}

#menu > li {
    float: left;
}

#menu li a:hover {
    background: darkblue;
}

#menu li ul{
    display: none;
}

#menu li:hover ul{
    display: block;
}


