* {
    margin: 0;
    padding: 0;
}

div {
    width: 100px;
    height: 100px;
    background-color: blue;
    color: #fff;
    font-size: 30px;
    margin: 10px;
    /* line-height: 100px;
    text-align: center;
    vertical-align: middle; */
    float: left;


    align-items: center;
    display: flex;
    justify-content: center;

}

.romper {
    clear: left;
}

.caja_padre {
    width: 500px;
    height: 500px;
    background-color: rgb(224, 113, 8);
    position: static; 
    top: 20px;
    left: 200px;
}

.caja {
    position: absolute;
    top: 20px;
    /* bottom: 20px; */
    left: 70px;
    /* right: 20px; */

}