body {
    width: 1500px;
}

h3 {
    position: fixed;
}

#caja {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: yellow;
    top: 70px
}

#textos {
    position: fixed;
    width: 300px;
    height: 200px;
    border: 1px solid black;
    z-index: -1;
    right: 50px;
    top: 100px;
}