.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
    transform: scale(0);
    transition: transform .3s;
}

.modal__content {
    background: #fff;
    width: 50vw;
    height: 70vh;
    padding: 3rem;
}

.modal--show {
    transform: scale(1);
}

header {
    background: orange;
    text-align: center;
    height: 80px;
    color: #fff;
    font-size: 50px;
}

.mano {
    color: rgb(10, 91, 241);
    font-size: 200px;
    margin: auto;
    text-align: center;
}

.modal__p{
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

.btn-aceptar{
    background: rgb(19, 180, 67);
    color: #fff;
    width: 150px;
    font-size: 32px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}