ul {
    list-style-type: none;
    background-color: #333;
    width: 100%;
    position: fixed;
    top: 0;
    margin: 0;
}

li {
    display: inline-block;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover,
.dropdown-content a:hover  {
    background-color: #CCC;
}
  
li a.active {
    background-color: #04AA6D;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    text-align: left;
}
    
.dropdown:hover .dropdown-content {
    display: block;
}