#informacion{
    border: solid #000000 1px;
    width: 160px;
    padding: .5em;
}

#mousePositions {
    border: solid #000000 1px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    height: 300px;
    overflow: auto;
    width: 150px;
}