<button id="but"> haga clic </button>
<div id="div1"></div>
<script>
    // llamar a la función de inicialización
    init();
    // Definir la función de inicialización
    function init() {
        // Obtener elementos a través del método document.getElementById y asignarlos a variables
        var div1 = document.getElementById("div1");
        var but = document.getElementById("but");
        // Asignar la función que genera el rectángulo al evento de clic del botón. Siempre que se haga clic en el botón, se generará un cuadrado de tamaño, color y posición aleatorios
        // Preste atención al objeto del evento de clic, se puede entender que la función está ligada a ese objeto desde el momento en que se asigna, y sucederá mientras se haga clic en él.
        but.onclick = clickHeadler;
    }
    // Define la función que produce el cuadrado
    function clickHeadler() {
        // Llame a una función aleatoria y asigne el valor de retorno de la función a la longitud del lado del cuadrado
        var size = random(101.20);
        // Una cadena que define el valor del color de fondo del cuadrado, el valor inicial es #
        var color = "#";
        // Después de cada ciclo, un carácter hexadecimal se empalma en la cadena de color de fondo y se obtiene una cadena de valor de color completa después de seis veces
        for (i = 0; i < 6; i++) {
            // Primero llame a la función aleatoria para generar un número de 0 a 16, excluyendo 16, luego redondee hacia arriba y finalmente fuerce la conversión de la cadena aquí Nota: debe forzarse a hexadecimal
            color += parseInt(random(16)).toString(16);
        }
        // Las siguientes son todas las declaraciones que se empalman para formar un rectángulo y su estilo. Tenga en cuenta que el estilo en línea se usa aquí style = "atributo: valor de atributo;"
        var str = "<div style='";
        str += "width:" + size + "px;";
        str += "height:" + size + "px;";
        str += "background:" + color + ";";
        str += "position:absolute;"
        str += "left:" + random(1000) + "px;";
        str += "top:" + random(1000) + "px;";
        str += "'>" + "</div>";
        // Después de que termine la cadena, agréguela a div1 a través del atributo innerHTML del objeto
        div1.innerHTML += (str);
    }
    // Definir una función aleatoria Aquí hay dos parámetros formales debido a la necesidad de restar (a-b) 
    // Cuando el parámetro real es menor que el parámetro de forma, el valor del parámetro adicional no está definido. En esta función, si el valor de b no está definido, cambie manualmente su valor a 0
    // El valor devuelto es el resultado de la función
    function random(a, b) {
        if (b === undefined) {
            b = 0;
            return parseInt(Math.random() * (a - b) + b);
        }
    }
</script>