* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
li a:focus,
.dropdown:hover .dropbtn,
.dropdown:focus .dropbtn {
    background-color: orange;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(224, 187, 117);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover,
.dropdown-content a:focus {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:focus-within a+.dropdown-content {
    display: block;
}

.breadcrumb {
    text-decoration: none;
    list-style: none;
}

.principal {
    width: 100%;
    height: 200px;
    background: chocolate;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 32px;
}

img {
    display: block;
    margin: auto;
}

p{
    text-align: center;
    font-size: 20px;
    padding: 35px;
}

button{
    display: block;
    margin: auto;
    align-items: center;
    text-align: center;
    width: 110px;
    height: 55px;
    background: cornsilk;
}

button a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

button:hover{
    background: darkslategrey;
    color: #fff;
}