* {
    margin: 0;
    padding: 0;
}

header {
    width: 480px;
    margin: auto;
    font-family: sans-serif;
}

ul {

    list-style: none;
}

#menu a {
    background: darkgray;
    color: white;
    text-decoration: none;
}



#menu li a {
    min-width: 100px;
    padding: 10px;
    align-items: center;
    display: block;
}

#menu > li {
    /* float: left; */
    display: inline-block;
}

#menu li a:hover,
#menu li a:focus{
    background: darkblue;
}

#menu li ul{
    display: none;
}

#menu li:hover ul,
#menu li a:focus + ul{
    display: block;
}

#menu li:focus-within a +ul{
    display: block;
}

@media (max-width:400px) {
    #menu > li {
        display: block;
    }
}


