@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Comic Neue', cursive, serif;
}

body {
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(5, 10, 5, 0.80), rgba(90, 40, 90, 0.80)), url(../imagenes/s8.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

main {
    position: relative;
}

h1 {
    color: cornsilk;
    text-align: center;
    font-size: 50px;
    padding-top: 150px;
    /* display: inline */
    /* size: calc(1em + 1vw) */
    
}

#boton {
    width: 200px;
    margin: auto;
    display: block;
    text-align: center;
    margin-top: 70px;
    background-color: beige;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 25px 25px 25px 25px;
}


/* Responsive desing */

@media screen and (max-width: 800px) {
    
}

@media screen and (max-width: 500px) {
    
    
}