@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Comic Neue', cursive, serif;
    font-size: 15px;
    color: ivory;
    text-align: center;
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(5, 10, 5, 0.80), rgba(90, 40, 90, 0.80)), url(../imagenes/s6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

h1 {
    color: cornsilk;
    text-align: center;
    font-size: 45px;

}

h2 {
    color: cornsilk;
    text-align: center;
    font-size: 30px;
}

h3 {
    padding: 25px;
}

p {
    padding: 15px;
}

/* GRID CONTENEDOR */

.grid-container {
    display: grid;
    gap: 10px;
    grid-template:
        "navbar"70px "header"105px "sidebar"1780px "main"auto "footer"0px;
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
    text-align: center;
    color: ivory;
    font-size: 10px;
}

/* NAVEGADOR */
.navbar {
    grid-area: navbar;
    /* height: 70px; */
    padding: 23px;
    display: block;
    align-items: center;
    font-weight: 700;
    justify-content: space-around;
}

.navbar__items {
    color: #fff;
    text-decoration: none;
    font-size: 400;
    border-bottom: 1px solid #fff;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: inherit;
}

/* .navbar__items--cta{
    
} */

/* SIDEBAR */
video {
    width: 400px;
    height: 350px;
    display: block;
    margin: 0 auto;
    margin-top: -25px;
}

audio {
    margin: 25px auto;
    display: block;
}

.text1 {
    width: 90%;
    text-align: center;
    margin: auto;
    display: block;
}

/* FIN SIDEBAR */

/* MAIN */

.text2 {
    width: 90%;
    text-align: center;
    margin: auto;
    display: block;
}

/* Grid Galeria */
.grid-galeria {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
    padding: 10px;
}

.galeria__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .2s;
}

.galeria__img:hover {
    width: 300px;
    height: 300px;
    transform: scale(1.25);
}

.galeria__item:nth-child(1) {
    grid-row-start: span 2;
}

.galeria__item:nth-child(5) {
    grid-row-start: span 2;
}

/* FIN MAIN */

ol {
    margin: auto;
    padding: 15px;
}

li {
    text-align: center;
    list-style: none;
    color: ivory;
    font-size: 20px;
}

#tabla {
    box-shadow: inset 10px 10px 20px 30px rgb(89, 89, 128);
    margin: auto;
}

th,
td,
tr {
    padding: 22px;
    text-align: center;
    color: ivory;
    border: solid ivory;
    align-items: center;
    width: 57%;
    border-collapse: collapse;
    border-spacing: 3px;
}


/* ESTILO TABLET */

@media screen and (min-width: 700px) {
    .grid-container {
        grid-template:
            "header header"60px "navbar navbar"50px "sidebar main"auto "footer footer"100px / 300px auto;
    }

    .navbar {
        justify-content: flex-end;
    }

    video {
        width: 300px;
        height: 350px;
        margin-top: -85px;
    }

    audio {
        margin: 10px 10px 10px 10px;
    }

    #tabla {
        margin: 5px;
    }

    /* Grid Galeria */
    .grid-galeria {
        gap: 5px;
        grid-auto-rows: 183px;
        padding: 5px;
    }

    .galeria__img {
        width: 280px;
        height: 180px;
    }

    .galeria__img:hover {
        width: 300px;
        height: 300px;
        transform: scale(1.25);
    }

    .galeria__item:nth-child(1) {
        grid-row-start: span 1;
    }

    .galeria__item:nth-child(5) {
        grid-row-start: span 1;
    }
}

@media screen and (min-width: 900px) {
    .grid-container {
        grid-template:
            "header header"60px "navbar navbar"50px " main sidebar"auto "footer footer footer"100px / 200px auto 200px;
    }

    .navbar {
        font-size: 30px;
    }

    /* Grid Galeria */
    .grid-galeria {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 200px;
        padding: 10px;
    }

    .galeria-img {
        width: 350px;
        height: 200px;
    }

}