.standard {
    width: 150px;
    height: 150px;
    border: 2px solid #000;
}
.red, .blue {
    border: none;
}
.red {
    width: 300px;
    height: 300px;
    background-color: red;
}
.blue {
    width: 75px;
    height: 75px;
    background-color: blue;
}
.yellow {
    width: 175px;
    height: 175px;
    background-color: yellow;
}

.lila{
    width: 275px;
    height: 275px;
    background-color: blueviolet;
}

.vacio{
    /* width: 150px;
    height: 150px; */
    border: 2px solid #000;
    background-color: white;
}