body {
    margin: 0;
}

.content {
    margin-top: 7%;
}


#image {
    vertical-align: middle;
}

ul {
    list-style-type: none;
    background-color: #333;
    width: 100%;
    display: fixed;
    top: 0;
    margin: 0;
}

li {
    display: inline-block;
    align-items: center;
    /* float: left; */
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #ccc;
}